<div class="container">
    <div class="row my-5">
        <div class="row">
            <div class="col-5">
                <%= image_tag @item.get_image, class: "col-12 img-responsive img" %>
            </div>
            <div class="col-7">
                <div class="row my-3 ml-3">
                    <h4><strong>
                        <%= @item.name %>
                    </strong></h4>
                </div>
                <div class="row my-3 ml-3">
                    <h5><%= @item.introduction %></h5>
                </div>
                <div class="row mt-5 d-flex align-items-end ml-3">
                    <h4 class="m-0">¥<%= (@item.price * 1.1).floor.to_s(:delimited) %></h4>
                    <p class="small m-0">（税込）</p>
                    <%= form_with model: @item do |f| %>
                        <% if @item.is_active == true %>
                            <strong class="text-success my-0 ml-3"><%= item_status_name(@item) %></strong>
                        <% else %>
                            <strong class="text-secondary my-0 ml-3"><%= item_status_name(@item) %></strong>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-5"></div>
            <div class="col-7">
                <% if @item.is_active == true %>
                    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
                        <div class="col-6"></div>
                        <div class="col-6 d-flex">
                            <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
                            <%= f.hidden_field :item_id, :value => @item.id %>
                            <%= f.submit "カートに入れる", class: "btn btn-success font-weight-bold px-3 py-1 ml-5" %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>