<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/71f8f10969.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand p-3 col-12 col-md-4 col-lg-3" href="/">
            <h2 class="col-12 text-center m-0">
              ながのCAKE <i class="fas fa-coffee"></i>
            </h2>
          </a>

          <% if customer_signed_in? %>
            <p class="text-nowrap col-6 col-md-4 col-lg-3 d-flex align-items-center m-0 px-5 pl-md-0">
              ようこそ、<%= current_customer.last_name %>さん！
            </p>
          <% end %>

          <div class="gnav">
            <div class="row">
              <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto py-2">
                  <% if customer_signed_in? %>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "マイページ", customers_current_customer_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "商品一覧", items_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "カート", cart_items_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                  <% elsif admin_signed_in? %>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "商品一覧", admin_items_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "会員一覧", admin_customers_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "注文履歴一覧", admin_root_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                  <% else %>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "About", homes_about_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "商品一覧", items_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item mr-lg-4 mr-md-2 mr-0">
                      <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログイン", customer_session_path, class: 'nav-link bg-light text-nowrap rounded border border-secondary' %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="bg-light p-5"></footer>
  </body>
</html>